.show{
    display:block
}

.hide{
    display: none;
}

.showDiscount{
    display: block;
}

.hideDiscount{
    display:none;
}
.gradient  span{

    font-size: 18px;
    background: -webkit-linear-gradient(45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;

} 