
.imgs{
  padding: 1rem 1.5rem;
  gap: 1.5rem;
  /* border: 1px solid blue; */
  display: flex;
  height: 290px;
  position: relative;
  
}
.menu{
  display: flex;
  gap: 18px;
  color: #111111;
  font-size: 15px;
  font-family:Arial, sans-serif;
  padding-top: 2rem ;
  margin-left:40% ;
  padding-bottom: 50px;
}
.secondslider{
  height: 100px;
  /* border: 1px solid red; */
  width: 50%;
  padding: 1rem 1.5rem;
  /* background-image: url("banner2-1.jpg"); */
}
.secondslider:hover{
  transform: scaleX(1);
transform-origin: bottom left;
}
.main{
  display: flex;
  width: 100%;
  padding-left: 1px;
  padding: 1rem 1.5rem;
  /* margin: 0rem 1rem; */
  /* margin-left: 0; */
  /* border: 1px solid blue; */
}
.childs{
/* height: ; */
width: 32%;
}
.main2{
  display: flex;
  width: 100%;
  padding-left: 1px;
  padding: 1rem 1.5rem;
  /* margin: 0rem 1rem; */
  /* margin-left: 0; */
  /* border: 1px solid blue; */

}
.childs{
  overflow: hidden;
  /* border: 1px solid blue; */
}
.childs img{
  transition: all 1.5s ease;
}
.childs:hover img{
  transform: scale(1.5);
}
.secondslider {
  overflow: hidden;
  border: 1px solid blue;
}
.secondslider img{
  transition: all 1.5s ease;
}
.secondslider hover img{
  transform: scale(1.5);
}
.textimg1{
  position: relative;
  width: 30%;
  height: 100px;
  margin-top: -95px;
  margin-left: 60%;
  background-color: white;
  /* border: 2px solid blue; */
}

.textimg{
  position: relative;
  width: 30%;
  height: 100px;
  margin-top: -5%;
  margin-left: 12%;
  background-color: white;
  /* border: 2px solid red; */
}
.text{
  /* display: flex;
  gap: 5%; */
  /* padding: 1.5rem 1.5rem; */
  margin: 1rem 1.5rem;
  font-size:20px;
  font-weight: bolder;
  margin-bottom: 5rem;
  color: black;
 
  
}
.products{
  border: 2px solid blue;
  height: 500px;
  width: 100%;
}
